body{
	background-image: url(../img/Fundo.jpg);
	font-family: sans-serif;
}

h1{
	text-align: center;
	font-size: 2em;
	margin-top: 15px;
}
			
h2{
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.listatexto{
	margin-left: 35px;
	margin-right: 35px;
	text-align: justify;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}

figure{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:visited{
	color: blue;
	background-color: transparent;
	text-decoration: none;
}	

a:hover{
	color: red;
	background-color: transparent;
	text-decoration: none;
}

a:link{
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

p{
	font-family: sans-serif;
	text-align: justify;
}

.img{
	border: solid 5px;
	width: 60%;
}

table, td, th {
 	border: 1px solid black;
 	padding: 5px;
 	margin-left: auto;
 	margin-right: auto;
}


.link{
	text-align: center;
	font-family: sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav{
	font-size: large;
}

.container{
	margin-top: 50%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: white;
	padding-bottom: 1px;
	padding-top: 1px;
	position: relative;
}

header, footer{
	background-color: #228B22;
	padding: 5%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text{
	margin-left: 15px;
	margin-right: 15px;
}


.autoria{
	font-weight: bold;
	text-align: center;
	font-family: sans-serif;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.fixo{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.tabela{
		width: 80%;
		border-collapse: collapse;
		border: 1px solid black;
		margin-left: auto;
		margin-right: auto;
}

.ajustes a:hover{
	background-color: black;
	color: white;
}

.ajustes{
	text-align: center;
	line-height: 1;
}

.logotipo{
	position: absolute;
	width: 10%;
}

@media screen and (max-width: 600px) {

	.container{
		width: 90%;
		margin-top: 60%;
	}

	.tabela{
		width: 60%;
		border-collapse: collapse;
		border: 1px solid black;
		margin-left: auto;
		margin-right: auto;
	}	

	.logotipo{
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}

	.acesso{
		text-align: center;
	}
}
@media screen and (min-width: 401px) {

	.container{
		margin-top: 47%;
	}

}

@media screen and (min-width: 501px) {

	.container{
		margin-top: 40%;
	}

}  

@media screen and (min-width: 601px) {

	.container{
		margin-top: 21%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}


@media screen and (min-width: 701px) {

	.container{
		margin-top: 18%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}

}

@media screen and (min-width: 801px) {

	.container{
		margin-top: 15%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}

}

@media screen and (min-width: 901px ) {

	.container{
		margin-top: 14%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}

}
@media screen and (min-width: 1001px) {

	.container{
		margin-top: 13%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}

}

@media screen and (min-width: 1101px) {

	.container{
		margin-top: 11%;
	}

	header{
		flex-direction: row;
		position: relative;
	}

	.logotipo{
		margin-left: 1%;
		top: 8px;
	}

	.menu{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu ul li{
		display: inline;
		margin-left: 25px;
	}

}

